---
---

<!DOCTYPE html>
<html lang="en">
	<head>
    {% include header.html %}
    {% seo %}
    <title>Banigama - Where Brotherhood in Blood</title>
  </head>
<body>
	{% include navbar.html %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">होम</a></li>
			<li class="active">संपर्क</li>
		</ol>

		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">हमसे संपर्क करें</h1>
				</header>
				<p>
				</p>
				<br>
				<form method="POST" action="http://formspree.io/mihirthakur.cse@gmail.com" >
					<div class="row">
						<div class="col-sm-4">
							<input class="form-control" type="text" placeholder="Name" name="name" required>
						</div>
						<div class="col-sm-4">
							<input class="form-control" type="email" placeholder="Email" name="_replyto" required>
						</div>
						<div class="col-sm-4">
							<input class="form-control" type="text" placeholder="Phone" name="phone" required>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<textarea placeholder="Type your message here..." class="form-control" rows="9" name="message" required></textarea>
						</div>
					</div>
					<br>
					<input type="hidden" name="_next" value="index.html" />
					<div class="row">
						<div class="col-sm-6 text-right">
							<input class="btn btn-action" type="submit" value="Send message">
						</div>
					</div>
				</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">
       <br><br>
				<div class="widget">
					<h4>पता</h4>
					<table class="table table-bordered">
  								<tbody>
  									<tr>
  										<td>विधानसभा क्षेत्र</td>
  										<td>37 - राजनगर (अ ० जा )</td>
  									</tr>
  									<tr>
  										<td>ग्राम</td>
  										<td>बनिगामा</td>
  									</tr>
  									<tr>
  										<td>पोस्ट</td>
  										<td>घोओंगहोउर</td>
  									</tr>
  									<tr>
  										<td>भाया</td>
  										<td>राजनगर</td>
  									</tr>
  									<tr>
  										<td>जिला</td>
  										<td>मधुबनी</td>
  									</tr>
  									<tr>
  										<td>पिन</td>
  										<td>847235</td>
  									</tr>
  								</tbody>
  							</table>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	<section class="container-full top-space">
		<div id="map"></div>
	</section>

	{% include footer.html %}

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
	
	<!-- Google Maps -->
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6tSteWXftIq1IiefiLAhlxxmEC9FNbGo&amp;sensor=false&amp;extension=.js"></script> 
<script src="assets/js/google-map.js"></script>


</body>
</html>