---
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
  {% seo %}
  <title>Banigama - Where Brotherhood in Blood</title>
</head>


<body>
  {% include navbar.html %}

  <header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">

    <ol class="breadcrumb">
      <li><a href="index.html">होम</a></li>
      <li class="active">क्रिकेट टीम</li>
    </ol>
    <div></div>
    <div class="row">
      <div class="col-md-12">
        <div class="container">

          <div class="row">

            <div class="col-lg-12">
              <h1 class="page-header">CRICKET TEAM</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/images/cricket/bittu.jpg" alt="">
                <span>Alok Kumar Captain - Batting Allrounder</span>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/images/cricket/deepak.jpg" alt="">
                <span>Deepak Kumar - Batsman</span>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/images/cricket/rittu.jpg" alt="">
                <span>Rittu Kumar - Right Arm Fast Bowler</span>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/images/cricket/group.jpg" alt="">
                <span>Group Photo - Members Cricket Team</span>
              </a>
            </div>

          </div>

          <hr>

        </div>
        <!-- /.container -->
      </div>
    </div>
  </div>  <!-- /container -->
  

  {% include footer.html %}

  <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="assets/js/headroom.min.js"></script>
  <script src="assets/js/jQuery.headroom.min.js"></script>
  <script src="assets/js/template.js"></script>
</body>
</html>
