---
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
  {% seo %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/photo_gallery.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/headroom.min.js"></script>
  <script src="assets/js/jQuery.headroom.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="assets/js/template.js"></script>
  <script>
    document.getElementById("date_time").innerHTML = Date();
  </script>
  <script src="assets/js/photo_gallery.js"></script>
  <script>
    $(document).ready(function(){
      $('ul.first').bsPhotoGallery({
        "classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
        "hasModal" : true,
          // "fullHeight" : false
        });
    });
  </script>
  <title>Banigama - Where Brotherhood in Blood</title>
</head>


<style>
  @import url(https://fonts.googleapis.com/css?family=Bree+Serif);

  body {
    background:#ebebeb;
  }
  ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
  }
  ul li {
    list-style:none;
    margin-bottom:10px;
  }

  .text {
    /*font-family: 'Bree Serif';*/
    color:#666;
    font-size:11px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
  }



</style>

<body>
  {% include navbar.html %}

  <header id="head" class="secondary"></header>

  <!-- container -->
  <div class="container">
    <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
      <h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
        <a style="text-decoration:none; color:#666;" href="">मैथिली पंचांग </a>
      </h3>
      </div>

      <ul class="row first">
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/maithili panchang.jpg">
          <div class="text">Cover Page</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan  final 4.jpg">
          <div class="text">Rashifal</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 3.jpg">
          <div class="text">Rashifal</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final  2.jpg">
          <div class="text">Important Dates</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 5.jpg">
          <div class="text">Shani Grah</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 19.jpg">
          <div class="text">28-JAN TO 10-FEB 2017</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 20.jpg">
          <div class="text">11-26 FEB</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 21.jpg">
          <div class="text">27-FEB TO 12-MARCH</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 22.jpg">
          <div class="text">13-28 MARCH</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/PANCHANG -23.jpg">
          <div class="text">29-MARCH TO 11-APR</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 24.jpg">
          <div class="text">12-23 APR</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 25.jpg">
          <div class="text">27-APR-10 MAY</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 26.jpg">
          <div class="text">11-25 MAY</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 27.jpg">
          <div class="text">23 MAY TO 09 JUNE</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchan final 28.jpg">
          <div class="text">10-24 JUNE</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 29.jpg">
          <div class="text">25-JUNE-09 JULY</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 32.jpg">
          <div class="text">USEFUL MANTRA</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 33.jpg">
          <div class="text">USEFUL MANTRA</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 34.jpg">
          <div class="text">USEFUL MANTRA</div>
        </li>
        <li>
          <img alt="Panchang"  src="/assets/images/panchang/panchang final 35.jpg">
          <div class="text">BHADWA DATES</div>
        </li>
      </ul>

    </div>  <!-- /container -->


    {% include footer.html %}

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->

  </body>
  </html>
