---
---
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport"    content="width=device-width, initial-scale=1.0">
			<meta name="description" content="">
			<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

			<title>Banigama - Where Brotherhood in Blood</title>

			<link rel="shortcut icon" href="assets/images/gt_favicon.png">

			<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
			<link rel="stylesheet" href="assets/css/bootstrap.min.css">
			<link rel="stylesheet" href="assets/css/font-awesome.min.css">

			<!-- Custom styles for our template -->
			<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
			<link rel="stylesheet" href="assets/css/main.css">

			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
			<![endif]-->
		</head>

		<body class="home">
			 {% include navbar.html %}

			<!-- Header -->
			<header id="head">
				<div class="container">
					<div class="row">
						<h1 class="lead">Welcome to official website of Banigama</h1>
						<p class="tagline">Where Brotherhood in Blood</p>
					</div>
				</div>
			</header>
			<!-- /Header -->

			<!-- Intro -->
			<div class="container text-center">
				<br> <br>
				<h2 class="thin">परिचय</h2>
				<p class="text-muted">
					भारतवर्ष गाँवों का देश है | यंहा की जनसंख्या का बहुत बड़ा भाग गाँवों में निवास करता है | हमारा प्यारा गाँव बनिगामा बिहार राज्य के मधुबनी जिले के राजनगर प्रखंड में अवस्थित है। गांव की आबादी लगभग ५०० है। यहाँ के सभी लोग एक दूसरे से काफी मिलजुल कर रहते हैं। गाँव का मुख्य आय स्त्रोत कृषि और पशु पालन है। यहाँ की सभी सड़के पक्की है। कृषि के सिचाई का मुख्य साधन ट्यूबवेल है। सरकार की लापरवाही की वजह से विद्युतचालित ट्यूबवेल किसानों की मदद करने की अवस्था में नहीं है।

					गेंहू, चावल, दलहन ,सरसों, आलू, गोभी, प्याज, भिंडी, करेला, पालक, लहसुन यंहा की उपज है। खेती के साथ साथ ही गाँव मे आम  के बगीचो को जो बढ़ावा मिला है वो बहुत ही तारीफे-काबिल है। आज गांव में अधिकाँश पक्के मकान हैं।

					गाँव की सुन्दरता बढाने में सबसे ज्यादा सहयोग हनुमान मंदिर का है जो सभी ग्रामवासी को अध्यात्म की अनुभूति कराते हैं।
				</p>
			</div>
			<!-- /Intro-->

			<!-- Highlights - jumbotron -->
			<div class="jumbotron top-space">
				<div class="container">

					<h3 class="text-center thin">गांव की  विशेषतायें</h3>

					<div class="row">
						<div class="col-md-3 col-sm-6 highlight">
							<div class="h-caption"><h4><i class="fa fa-users fa-5"></i>आपसी भाईचारा  </h4></div>
							<div class="h-body text-center">
								<p>
									क्षेत्रफल और आबादी में कम होने के कारण गाँव के लोग एक दूसरे को व्यकिगत तौर पर जानते हैं। यहाँ  के लोग किसी की भी ख़ुशी और दुख के समय एक दूसरे के साथ होते हैं। यही खासियत इस गाँव को साधारण से विशिष्ट की श्रेनी में व्यवस्थित करती है।
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 highlight">
							<div class="h-caption"><h4><i class="fa fa-female fa-5"></i>बेटी बचाओ बेटी पढाओ </h4></div>
							<div class="h-body text-center">
								<p>
									गाँव के लोग अपनी बेटियो के प्रति बेटो के बराबर ही प्रेम और उत्तरदायित्व का निर्वहन करते है। हमारी गांव की बेटियां उच्च शिक्षा में नयी अस्तर को प्राप्त कर रही है। कुछ बेटियां तो स्नातकोत्तर तक की शिक्षा प्राप्त कर चुकी है। बेटियो के प्रति गाँववालो की स्नेह काबिलेतारीफ है।
								</p>
					    </div>
						</div>
						<div class="col-md-3 col-sm-6 highlight">
							<div class="h-caption"><h4><i class="fa fa-laptop fa-5"></i>शिक्षा</h4></div>
							<div class="h-body text-center">
								<p>
									गांव के लोग शिक्षा के प्रति सजग हैं। गांव के नैनिहालों के प्रारम्भिक शिक्षा का उत्तरदायित्व प्राइमरी स्कूल और आंगनबाड़ी केंद्र पर है जो गांव में ही स्थित है। माध्यमिक और उच्च शिक्षा के लिए विधार्थियों को बाहर का रुख करना पड़ता है।
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 highlight">
							<div class="h-caption"><h4><i class="fa fa-flag fa-5"></i>धार्मिक स्थल</h4></div>
							<div class="h-body text-center">
								<p>
									गाँव के धार्मिक आस्था का केंद्र गाँव में स्थित हनुमान जी का मंदिर है। मंदिर के आसपास की हरयाली और वातावरण हमेशा लोगो को आध्त्यात्मिक सुकून प्रदान करती है। यह मंदिर लोगो की एकता का भी प्रतीक है। राम नाम नवाह यज्ञ यहाँ का मुख्य आकर्षण है।
								</p>
							</div>
						</div>
					</div> <!-- /row  -->
				</div>
			</div>
			<!-- /Highlights -->

			<!-- container -->
			<div class="container">
				<div class="jumbotron top-space">
					<h4>
						हमें हमारे देश और हमारी संस्कृति पर हमेशा गर्व रहा है | हजारों वर्षों से हमारे देश ने किसी दूसरे देश पर आक्रमण नहीं किया | हम शांतिप्रिय रहे हैं | ऐसी महान सांस्कृतिक विरासत होने के बावजूद हमारे समाज में एक ऐसी बुराई है जो आज पूरे संसार के सामने हमें हमारी नजरें नीची करने के लिए मजबूर कर देती हैं |
					</h4>
					<h4>
						वो बुराई है पुरुषों की तुलना में स्त्री को दोयम दर्जे का स्थान देना | आज हमारी बेटियां हरेक क्षेत्र में उत्कृष्ट सफलता प्राप्त कर रही है। शिक्षित बेटियां हमारे उन्नत भविष्य की प्रत्याभूत है।
					</h4>
					<h4 style="color: red;">इन्द्र धनुष से  सजेंगे रंग ! जब संग होगी बेटी की तरंग !!</h4>
					<p class="text-right"><a href="http://wcd.nic.in/BBBPScheme/main.htm" target="_blank"class="btn btn-primary btn-large">अधिक जानकारी के लिए  »</a></p>
				</div>
			</div>

			<div class="container map_container">
				<div class="jumbotron top-space map_jumbo">
					<div id="map"></div>
				</div>
			</div>

			</div>	<!-- /container -->
				<!-- Social links. @TODO: replace by link/instructions in template -->
				<section id="social">
					<div class="container">
						<div class="wrapper clearfix">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
								<a class="addthis_button_tweet"></a>
								<a class="addthis_button_linkedin_counter"></a>
								<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
							</div>
							<!-- AddThis Button END -->
						</div>
					</div>
				</section>
				<!-- /social links -->
      
      {% include footer.html %}

			<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
			<script src="assets/js/headroom.min.js"></script>
			<script src="assets/js/jQuery.headroom.min.js"></script>
			<script src="assets/js/template.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6tSteWXftIq1IiefiLAhlxxmEC9FNbGo&amp;sensor=false&amp;extension=.js"></script>
			<script src="assets/js/google-map.js"></script>
		</body>
	</html>