<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://www.facebook.com/villagebanigama/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <span><a href="mailto:contact@banigama.com">Get In Touch</a><br>contact@banigama.com</span>
    </p>

    <p><a href="https://facebook.com/mihir1991" target="_blank" rel="designer">Made With <i class="fa fa-heart heart_color" aria-hidden="true"></i> By Mihir</a></p>
  </div>
</footer>