<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
  <div class="container">
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="Banigama"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="/">होम</a></li>
        <li><a href="about-banigama">हमारा गाँव</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">संसाधन <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="politics">वोटर लिस्ट</a></li>
            <li class="active"><a href="jan-pratinidhi">जन प्रतिनिधि</a></li>
            <li class="active"><a href="cricket_team_banigama">क्रिकेट टीम</a></li>
          </ul>
        </li>
        <li><a href="festivals">मैथिली पंचांग </a></li>
        <li><a href="facilities">सुविधायें</a></li>
        <li><a href="gallery"><span>गैलरी</span></a></li>
        <li><a href="contact">संपर्क</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
      <!-- /.navbar -->